:root {
  --bs-rosewater: #f2d5cf;
  --bs-flamingo: #eebebe;
  --bs-pink: #f4b8e4;
  --bs-mauve: #ca9ee6;
  --bs-red: #e78284;
  --bs-maroon: #ea999c;
  --bs-peach: #ef9f76;
  --bs-yellow: #e5c890;
  --bs-green: #a6d189;
  --bs-teal: #81c8be;
  --bs-sky: #99d1db;
  --bs-sapphire: #85c1dc;
  --bs-blue: #8caaee;
  --bs-lavender: #babbf1;
  --bs-text: #c6d0f5;
  --bs-subtext1: #b5bfe2;
  --bs-subtext0: #a5adce;
  --bs-overlay2: #949cbb;
  --bs-overlay1: #838ba7;
  --bs-overlay0: #737994;
  --bs-surface2: #626880;
  --bs-surface1: #51576d;
  --bs-surface0: #414559;
  --bs-base: #303446;
  --bs-mantle: #292c3c;
  --bs-crust: #232634;

  /* Bootstrap primary color - choose one that you want to be the most dominant */
  --bs-primary: var(--bs-mauve);
  --bs-secondary: var(--bs-sky);
  --bs-success: var(--bs-green);
  --bs-info: var(--bs-teal);
  --bs-warning: var(--bs-yellow);
  --bs-danger: var(--bs-red);
  --bs-light: var(--bs-surface0);
  --bs-dark: var(--bs-base);
  --bs-text-color: var(--bs-text);
  --bs-body-bg: var(--bs-crust);
  --bs-body-color: var(--bs-text);
}


[data-bs-theme='catppuccin-frappe'] {
  --bs-primary: var(--bs-mauve);
  --bs-secondary: var(--bs-sky);
  --bs-success: var(--bs-green);
  --bs-info: var(--bs-teal);
  --bs-warning: var(--bs-yellow);
  --bs-danger: var(--bs-red);
  --bs-light: var(--bs-surface0);
  --bs-dark: var(--bs-base);
  --bs-body-bg: var(--bs-crust);
  --bs-body-color: var(--bs-text);
  /* Add other bootstrap components customizations here */
}

[data-bs-theme='catppuccin-frappe'] .accordion-button {
  background-color: var(--bs-surface1);
  color: var(--bs-text);
}

[data-bs-theme='catppuccin-frappe'] .accordion-button:not(.collapsed) {
  background-color: var(--bs-surface2);
  color: var(--bs-text);
  box-shadow: inset 0 -1px 0 var(--bs-base);
}

[data-bs-theme='catppuccin-frappe'] .accordion-body {
  background-color: var(--bs-surface0);
  color: var(--bs-text);
}

[data-bs-theme='catppuccin-frappe'] .accordion-header {
  border-bottom: 1px solid var(--bs-overlay0);
}

[data-bs-theme='catppuccin-frappe'] .alert-primary {
  background-color: var(--bs-mauve);
  color: var(--bs-crust);
  border-color: var(--bs-mauve);
}

[data-bs-theme='catppuccin-frappe'] .alert-secondary {
  background-color: var(--bs-sky);
  color: var(--bs-crust);
  border-color: var(--bs-sky);
}

[data-bs-theme='catppuccin-frappe'] .alert-success {
  background-color: var(--bs-green);
  color: var(--bs-crust);
  border-color: var(--bs-green);
}

[data-bs-theme='catppuccin-frappe'] .alert-danger {
  background-color: var(--bs-red);
  color: var(--bs-crust);
  border-color: var(--bs-red);
}

[data-bs-theme='catppuccin-frappe'] .alert-warning {
  background-color: var(--bs-yellow);
  color: var(--bs-crust);
  border-color: var(--bs-yellow);
}

[data-bs-theme='catppuccin-frappe'] .alert-info {
  background-color: var(--bs-teal);
  color: var(--bs-crust);
  border-color: var(--bs-teal);
}

[data-bs-theme='catppuccin-frappe'] .alert-light {
  background-color: var(--bs-surface0);
  color: var(--bs-text);
  border-color: var(--bs-surface2);
}

[data-bs-theme='catppuccin-frappe'] .alert-dark {
  background-color: var(--bs-base);
  color: var(--bs-rosewater);
  border-color: var(--bs-mantle);
}

[data-bs-theme='catppuccin-frappe'] .badge-primary {
  background-color: var(--bs-mauve);
  color: var(--bs-crust);
}

[data-bs-theme='catppuccin-frappe'] .badge-secondary {
  background-color: var(--bs-sky);
  color: var(--bs-crust);
}

[data-bs-theme='catppuccin-frappe'] .badge-success {
  background-color: var(--bs-green);
  color: var(--bs-crust);
}

[data-bs-theme='catppuccin-frappe'] .badge-danger {
  background-color: var(--bs-red);
  color: var(--bs-crust);
}

[data-bs-theme='catppuccin-frappe'] .badge-warning {
  background-color: var(--bs-yellow);
  color: var(--bs-crust);
}

[data-bs-theme='catppuccin-frappe'] .badge-info {
  background-color: var(--bs-teal);
  color: var(--bs-crust);
}

[data-bs-theme='catppuccin-frappe'] .badge-light {
  background-color: var(--bs-surface0);
  color: var(--bs-text);
}

[data-bs-theme='catppuccin-frappe'] .badge-dark {
  background-color: var(--bs-base);
  color: var(--bs-rosewater);
}

[data-bs-theme='catppuccin-frappe'] .breadcrumb {
  background-color: var(--bs-surface0);
  color: var(--bs-text);
}

[data-bs-theme='catppuccin-frappe'] .breadcrumb-item+.breadcrumb-item::before {
  color: var(--bs-overlay1);
}

[data-bs-theme='catppuccin-frappe'] .breadcrumb-item a {
  color: var(--bs-blue);
}

[data-bs-theme='catppuccin-frappe'] .breadcrumb-item.active {
  color: var(--bs-subtext0);
}

[data-bs-theme='catppuccin-frappe'] .btn-primary {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
  color: var(--bs-crust);
}

[data-bs-theme='catppuccin-frappe'] .btn-secondary {
  background-color: var(--bs-secondary);
  border-color: var(--bs-secondary);
  color: var(--bs-crust);
}

[data-bs-theme='catppuccin-frappe'] .btn-success {
  background-color: var(--bs-success);
  border-color: var(--bs-success);
  color: var(--bs-crust);
}

[data-bs-theme='catppuccin-frappe'] .btn-danger {
  background-color: var(--bs-danger);
  border-color: var(--bs-danger);
  color: var(--bs-crust);
}

[data-bs-theme='catppuccin-frappe'] .btn-warning {
  background-color: var(--bs-warning);
  border-color: var(--bs-warning);
  color: var(--bs-crust);
}

[data-bs-theme='catppuccin-frappe'] .btn-info {
  background-color: var(--bs-info);
  border-color: var(--bs-info);
  color: var(--bs-crust);
}

[data-bs-theme='catppuccin-frappe'] .btn-light {
  background-color: var(--bs-light);
  border-color: var(--bs-surface2);
  color: var(--bs-text);
}

[data-bs-theme='catppuccin-frappe'] .btn-dark {
  background-color: var(--bs-dark);
  border-color: var(--bs-mantle);
  color: var(--bs-rosewater);
}

[data-bs-theme='catppuccin-frappe'] .btn-outline-primary {
  border-color: var(--bs-primary);
  color: var(--bs-primary);
}

[data-bs-theme='catppuccin-frappe'] .btn-outline-primary:hover {
  background-color: var(--bs-primary);
  color: var(--bs-crust);
}

[data-bs-theme='catppuccin-frappe'] .btn-outline-secondary {
  border-color: var(--bs-secondary);
  color: var(--bs-secondary);
}

[data-bs-theme='catppuccin-frappe'] .btn-outline-secondary:hover {
  background-color: var(--bs-secondary);
  color: var(--bs-crust);
}

[data-bs-theme='catppuccin-frappe'] .btn-outline-success {
  border-color: var(--bs-success);
  color: var(--bs-success);
}

[data-bs-theme='catppuccin-frappe'] .btn-outline-success:hover {
  background-color: var(--bs-success);
  color: var(--bs-crust);
}

[data-bs-theme='catppuccin-frappe'] .btn-outline-danger {
  border-color: var(--bs-danger);
  color: var(--bs-danger);
}

[data-bs-theme='catppuccin-frappe'] .btn-outline-danger:hover {
  background-color: var(--bs-danger);
  color: var(--bs-crust);
}

[data-bs-theme='catppuccin-frappe'] .btn-outline-warning {
  border-color: var(--bs-warning);
  color: var(--bs-warning);
}

[data-bs-theme='catppuccin-frappe'] .btn-outline-warning:hover {
  background-color: var(--bs-warning);
  color: var(--bs-crust);
}

[data-bs-theme='catppuccin-frappe'] .btn-outline-info {
  border-color: var(--bs-info);
  color: var(--bs-info);
}

[data-bs-theme='catppuccin-frappe'] .btn-outline-info:hover {
  background-color: var(--bs-info);
  color: var(--bs-crust);
}

[data-bs-theme='catppuccin-frappe'] .btn-outline-light {
  border-color: var(--bs-light);
  color: var(--bs-text);
}

[data-bs-theme='catppuccin-frappe'] .btn-outline-light:hover {
  background-color: var(--bs-light);
  color: var(--bs-base);
}

[data-bs-theme='catppuccin-frappe'] .btn-outline-dark {
  border-color: var(--bs-dark);
  color: var(--bs-dark);
}

[data-bs-theme='catppuccin-frappe'] .btn-outline-dark:hover {
  background-color: var(--bs-dark);
  color: var(--bs-rosewater);
}

[data-bs-theme='catppuccin-frappe'] .btn-group .btn-primary {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
  color: var(--bs-crust);
}

[data-bs-theme='catppuccin-frappe'] .btn-group .btn-secondary {
  background-color: var(--bs-secondary);
  border-color: var(--bs-secondary);
  color: var(--bs-crust);
}

[data-bs-theme='catppuccin-frappe'] .btn-group .btn-success {
  background-color: var(--bs-success);
  border-color: var(--bs-success);
  color: var(--bs-crust);
}

[data-bs-theme='catppuccin-frappe'] .btn-group .btn-danger {
  background-color: var(--bs-danger);
  border-color: var(--bs-danger);
  color: var(--bs-crust);
}

[data-bs-theme='catppuccin-frappe'] .btn-group .btn-warning {
  background-color: var(--bs-warning);
  border-color: var(--bs-warning);
  color: var(--bs-crust);
}

[data-bs-theme='catppuccin-frappe'] .btn-group .btn-info {
  background-color: var(--bs-info);
  border-color: var(--bs-info);
  color: var(--bs-crust);
}

[data-bs-theme='catppuccin-frappe'] .btn-group .btn-light {
  background-color: var(--bs-light);
  border-color: var(--bs-surface2);
  color: var(--bs-text);
}

[data-bs-theme='catppuccin-frappe'] .btn-group .btn-dark {
  background-color: var(--bs-dark);
  border-color: var(--bs-mantle);
  color: var(--bs-rosewater);
}

/* Adjustments for adjacent buttons to ensure borders are visible */
[data-bs-theme='catppuccin-frappe'] .btn-group .btn:not(:first-child) {
  border-left-color: var(--bs-crust);
}

[data-bs-theme='catppuccin-frappe'] .btn-group .btn:not(:last-child) {
  border-right-color: var(--bs-crust);
}

[data-bs-theme='catppuccin-frappe'] .card {
  background-color: var(--bs-surface1);
  color: var(--bs-text);
  border: 1px solid var(--bs-overlay0);
}

[data-bs-theme='catppuccin-frappe'] .card-header {
  background-color: var(--bs-surface2);
  border-bottom: 1px solid var(--bs-overlay1);
}

[data-bs-theme='catppuccin-frappe'] .card-footer {
  background-color: var(--bs-surface2);
  border-top: 1px solid var(--bs-overlay1);
}

[data-bs-theme='catppuccin-frappe'] .card-body {
  color: var(--bs-text);
}

[data-bs-theme='catppuccin-frappe'] .card-title {
  color: var(--bs-text);
}

[data-bs-theme='catppuccin-frappe'] .card-subtitle {
  color: var(--bs-subtext0);
}

[data-bs-theme='catppuccin-frappe'] .card-link {
  color: var(--bs-blue);
}

[data-bs-theme='catppuccin-frappe'] .card-link:hover {
  color: var(--bs-sapphire);
}

[data-bs-theme='catppuccin-frappe'] .card-text {
  color: var(--bs-text);
}

[data-bs-theme='catppuccin-frappe'] .card-img-overlay {
  background-color: rgba(var(--bs-overlay2), 0.6);
}

[data-bs-theme='catppuccin-frappe'] .carousel-control-prev,
[data-bs-theme='catppuccin-frappe'] .carousel-control-next {
  color: var(--bs-base);
}

[data-bs-theme='catppuccin-frappe'] .carousel-indicators [data-bs-target] {
  background-color: var(--bs-base);
}

[data-bs-theme='catppuccin-frappe'] .carousel-indicators .active {
  background-color: var(--bs-primary);
}

[data-bs-theme='catppuccin-frappe'] .carousel-caption {
  color: var(--bs-surface0);
}

[data-bs-theme='catppuccin-frappe'] .carousel-item {
  background-color: var(--bs-surface1);
}

/* Ensure that text and controls are visible against the images or backgrounds */
[data-bs-theme='catppuccin-frappe'] .carousel-control-prev-icon,
[data-bs-theme='catppuccin-frappe'] .carousel-control-next-icon {
  background-color: var(--bs-overlay1);
  border-radius: 50%;
}

[data-bs-theme='catppuccin-frappe'] .carousel-item-next,
[data-bs-theme='catppuccin-frappe'] .carousel-item-prev,
[data-bs-theme='catppuccin-frappe'] .carousel-item.active {
  transition: transform 0.5s ease-in-out;
}

[data-bs-theme='catppuccin-frappe'] .btn-close {
  filter: invert(72%) sepia(5%) saturate(749%) hue-rotate(179deg) brightness(89%) contrast(91%);
}

[data-bs-theme='catppuccin-frappe'] .btn-close:hover {
  filter: invert(82%) sepia(25%) saturate(1400%) hue-rotate(179deg) brightness(95%) contrast(90%);
}

[data-bs-theme='catppuccin-frappe'] .btn-close:active {
  filter: invert(47%) sepia(96%) saturate(3490%) hue-rotate(322deg) brightness(93%) contrast(87%);
}

[data-bs-theme='catppuccin-frappe'] .btn-close:focus {
  box-shadow: 0 0 0 0.25rem rgba(var(--bs-primary), 0.5);
}

[data-bs-theme='catppuccin-frappe'] .collapse:not(.show) {
  display: none;
}

[data-bs-theme='catppuccin-frappe'] .collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}

[data-bs-theme='catppuccin-frappe'] .collapse.show {
  display: block;
}

[data-bs-theme='catppuccin-frappe'] .list-group-item {
  background-color: var(--bs-surface1);
  color: var(--bs-text);
  border-color: var(--bs-overlay0);
}

[data-bs-theme='catppuccin-frappe'] .list-group-item.active {
  background-color: var(--bs-primary);
  color: var(--bs-crust);
  border-color: var(--bs-primary);
}

[data-bs-theme='catppuccin-frappe'] .list-group-item+.list-group-item {
  border-top-color: var(--bs-overlay0);
}

[data-bs-theme='catppuccin-frappe'] .list-group-item-action {
  color: var(--bs-text);
}

[data-bs-theme='catppuccin-frappe'] .list-group-item-action:hover,
[data-bs-theme='catppuccin-frappe'] .list-group-item-action:focus {
  background-color: var(--bs-overlay1);
}

[data-bs-theme='catppuccin-frappe'] .list-group-item-action.active {
  background-color: var(--bs-primary);
  color: var(--bs-crust);
}

[data-bs-theme='catppuccin-frappe'] .modal-content {
  background-color: var(--bs-surface1);
  color: var(--bs-text);
  border: 1px solid var(--bs-overlay1);
}

[data-bs-theme='catppuccin-frappe'] .modal-header {
  background-color: var(--bs-surface2);
  border-bottom: 1px solid var(--bs-overlay0);
}

[data-bs-theme='catppuccin-frappe'] .modal-footer {
  background-color: var(--bs-surface2);
  border-top: 1px solid var(--bs-overlay0);
}

[data-bs-theme='catppuccin-frappe'] .modal-body {
  color: var(--bs-text);
}

[data-bs-theme='catppuccin-frappe'] .modal-title {
  color: var(--bs-text);
}

[data-bs-theme='catppuccin-frappe'] .close {
  color: var(--bs-text);
}

[data-bs-theme='catppuccin-frappe'] .modal-backdrop {
  background-color: var(--bs-overlay2);
}

[data-bs-theme='catppuccin-frappe'] .modal-header .btn-close {
  filter: invert(72%) sepia(5%) saturate(749%) hue-rotate(179deg) brightness(89%) contrast(91%);
}

[data-bs-theme='catppuccin-frappe'] .navbar {
  background-color: var(--bs-base);
  border-bottom: 1px solid var(--bs-overlay0);
  color: var(--bs-rosewater);
}

[data-bs-theme='catppuccin-frappe'] .navbar-brand {
  color: var(--bs-rosewater);
}

[data-bs-theme='catppuccin-frappe'] .navbar-brand:hover,
[data-bs-theme='catppuccin-frappe'] .navbar-brand:focus {
  color: var(--bs-surface0);
}

[data-bs-theme='catppuccin-frappe'] .navbar-nav .nav-link {
  color: var(--bs-rosewater);
}

[data-bs-theme='catppuccin-frappe'] .navbar-nav .nav-link:hover,
[data-bs-theme='catppuccin-frappe'] .navbar-nav .nav-link:focus {
  color: var(--bs-surface0);
}

[data-bs-theme='catppuccin-frappe'] .navbar-nav .nav-link.disabled {
  color: var(--bs-overlay1);
}

[data-bs-theme='catppuccin-frappe'] .navbar-toggler {
  border-color: var(--bs-overlay1);
  color: var(--bs-rosewater);
}

[data-bs-theme='catppuccin-frappe'] .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(var(--bs-rosewater), 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

[data-bs-theme='catppuccin-frappe'] .navbar-collapse {
  background-color: var(--bs-base);
}

[data-bs-theme='catppuccin-frappe'] .navbar-collapse .nav-item .nav-link.active,
[data-bs-theme='catppuccin-frappe'] .navbar-collapse .nav-item.show .nav-link {
  background-color: var(--bs-primary);
  color: var(--bs-crust);
}

[data-bs-theme='catppuccin-frappe'] .navbar-text {
  color: var(--bs-rosewater);
}

[data-bs-theme='catppuccin-frappe'] .dropdown-menu {
  background-color: var(--bs-base);
  border-color: var(--bs-overlay1);
}

[data-bs-theme='catppuccin-frappe'] .dropdown-item {
  color: var(--bs-rosewater);
}

[data-bs-theme='catppuccin-frappe'] .dropdown-item:hover,
[data-bs-theme='catppuccin-frappe'] .dropdown-item:focus {
  background-color: var(--bs-primary);
  color: var(--bs-crust);
}

[data-bs-theme='catppuccin-frappe'] .navbar-text a {
  color: var(--bs-rosewater);
}

[data-bs-theme='catppuccin-frappe'] .navbar-text a:hover,
[data-bs-theme='catppuccin-frappe'] .navbar-text a:focus {
  color: var(--bs-surface0);
}

[data-bs-theme='catppuccin-frappe'] .nav-link {
  color: var(--bs-subtext0);
  background-color: var(--bs-surface0);
  border: 1px solid transparent;
}

[data-bs-theme='catppuccin-frappe'] .nav-link:hover,
[data-bs-theme='catppuccin-frappe'] .nav-link:focus {
  color: var(--bs-text);
  background-color: var(--bs-surface1);
}

[data-bs-theme='catppuccin-frappe'] .nav-link.disabled {
  color: var(--bs-overlay1);
}

[data-bs-theme='catppuccin-frappe'] .nav-tabs .nav-link {
  border-color: var(--bs-overlay1) var(--bs-overlay1) var(--bs-surface0);
  margin-bottom: -1px;
}

[data-bs-theme='catppuccin-frappe'] .nav-tabs .nav-link.active,
[data-bs-theme='catppuccin-frappe'] .nav-tabs .nav-item.show .nav-link {
  color: var(--bs-text);
  background-color: var(--bs-surface0);
  border-color: var(--bs-overlay1) var(--bs-overlay1) transparent;
}

[data-bs-theme='catppuccin-frappe'] .nav-pills .nav-link {
  border-radius: 0.25rem;
}

[data-bs-theme='catppuccin-frappe'] .nav-pills .nav-link.active,
[data-bs-theme='catppuccin-frappe'] .nav-pills .show>.nav-link {
  color: var(--bs-crust);
  background-color: var(--bs-primary);
}

[data-bs-theme='catppuccin-frappe'] .offcanvas-header {
  background-color: var(--bs-surface2);
  border-bottom: 1px solid var(--bs-overlay1);
}

[data-bs-theme='catppuccin-frappe'] .offcanvas-title {
  color: var(--bs-text);
}

[data-bs-theme='catppuccin-frappe'] .offcanvas-body {
  background-color: var(--bs-surface1);
  color: var(--bs-text);
}

[data-bs-theme='catppuccin-frappe'] .offcanvas {
  background-color: var(--bs-surface1);
}

[data-bs-theme='catppuccin-frappe'] .offcanvas-header .btn-close {
  filter: invert(72%) sepia(5%) saturate(749%) hue-rotate(179deg) brightness(89%) contrast(91%);
}

[data-bs-theme='catppuccin-frappe'] .pagination {
  color: var(--bs-text);
}

[data-bs-theme='catppuccin-frappe'] .page-link {
  background-color: var(--bs-surface0);
  color: var(--bs-text);
  border: 1px solid var(--bs-overlay1);
}

[data-bs-theme='catppuccin-frappe'] .page-link:hover {
  background-color: var(--bs-surface1);
  color: var(--bs-text);
  border-color: var(--bs-overlay0);
}

[data-bs-theme='catppuccin-frappe'] .page-link:focus {
  box-shadow: 0 0 0 0.25rem rgba(var(--bs-primary), 0.5);
}

[data-bs-theme='catppuccin-frappe'] .page-item.active .page-link {
  background-color: var(--bs-primary);
  color: var(--bs-crust);
  border-color: var(--bs-primary);
}

[data-bs-theme='catppuccin-frappe'] .page-item.disabled .page-link {
  color: var(--bs-overlay1);
  background-color: var(--bs-surface0);
  border-color: var(--bs-overlay1);
}

[data-bs-theme='catppuccin-frappe'] .placeholder {
  background-color: var(--bs-surface2);
  color: var(--bs-overlay1);
}

[data-bs-theme='catppuccin-frappe'] .placeholder-lg,
[data-bs-theme='catppuccin-frappe'] .placeholder-sm,
[data-bs-theme='catppuccin-frappe'] .placeholder-xs {
  background-color: var(--bs-surface2);
  color: var(--bs-overlay1);
}

[data-bs-theme='catppuccin-frappe'] .placeholder-glow .placeholder {
  animation: glow 2s infinite;
}

@keyframes glow {
  0% {
    background-color: var(--bs-surface2);
  }

  50% {
    background-color: var(--bs-surface1);
  }

  100% {
    background-color: var(--bs-surface2);
  }
}

[data-bs-theme='catppuccin-frappe'] .placeholder-wave .placeholder {
  background: linear-gradient(130deg, var(--bs-surface2) 40%, var(--bs-surface1) 50%, var(--bs-surface2) 60%);
  background-size: 200% 100%;
  animation: wave 1.6s linear infinite;
}

@keyframes wave {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}

[data-bs-theme='catppuccin-frappe'] .popover-header {
  background-color: var(--bs-surface2);
  color: var(--bs-text);
  border-bottom: 1px solid var(--bs-overlay1);
}

[data-bs-theme='catppuccin-frappe'] .popover-body {
  background-color: var(--bs-surface1);
  color: var(--bs-text);
}

[data-bs-theme='catppuccin-frappe'] .popover {
  border-color: var(--bs-overlay1);
}

[data-bs-theme='catppuccin-frappe'] .popover .arrow::after {
  border-top-color: var(--bs-surface1);
}

/* You may need to adjust the arrow color based on the placement of the popover */
[data-bs-theme='catppuccin-frappe'] .bs-popover-top>.arrow::after,
[data-bs-theme='catppuccin-frappe'] .bs-popover-auto[x-placement^="top"]>.arrow::after {
  border-top-color: var(--bs-surface1);
}

[data-bs-theme='catppuccin-frappe'] .bs-popover-right>.arrow::after,
[data-bs-theme='catppuccin-frappe'] .bs-popover-auto[x-placement^="right"]>.arrow::after {
  border-right-color: var(--bs-surface1);
}

[data-bs-theme='catppuccin-frappe'] .bs-popover-bottom>.arrow::after,
[data-bs-theme='catppuccin-frappe'] .bs-popover-auto[x-placement^="bottom"]>.arrow::after {
  border-bottom-color: var(--bs-surface1);
}

[data-bs-theme='catppuccin-frappe'] .bs-popover-left>.arrow::after,
[data-bs-theme='catppuccin-frappe'] .bs-popover-auto[x-placement^="left"]>.arrow::after {
  border-left-color: var(--bs-surface1);
}

[data-bs-theme='catppuccin-frappe'] .progress {
  background-color: var(--bs-surface2);
}

[data-bs-theme='catppuccin-frappe'] .progress-bar {
  background-color: var(--bs-primary);
  color: var(--bs-crust);
}

[data-bs-theme='catppuccin-frappe'] .progress-bar-striped {
  background-image: linear-gradient(45deg, var(--bs-surface0) 25%, transparent 25%, transparent 50%, var(--bs-surface0) 50%, var(--bs-surface0) 75%, transparent 75%, transparent);
}

[data-bs-theme='catppuccin-frappe'] .progress-bar-animated {
  animation: progress-bar-stripes 1s linear infinite;
}

@keyframes progress-bar-stripes {
  from {
    background-position: 1rem 0;
  }

  to {
    background-position: 0 0;
  }
}

[data-bs-theme='catppuccin-frappe'] .spinner-border {
  color: var(--bs-primary);
}

[data-bs-theme='catppuccin-frappe'] .spinner-border.text-primary {
  border-color: var(--bs-primary);
}

[data-bs-theme='catppuccin-frappe'] .spinner-border.text-secondary {
  border-color: var(--bs-secondary);
}

[data-bs-theme='catppuccin-frappe'] .spinner-border.text-success {
  border-color: var(--bs-success);
}

[data-bs-theme='catppuccin-frappe'] .spinner-border.text-danger {
  border-color: var(--bs-danger);
}

[data-bs-theme='catppuccin-frappe'] .spinner-border.text-warning {
  border-color: var(--bs-warning);
}

[data-bs-theme='catppuccin-frappe'] .spinner-border.text-info {
  border-color: var(--bs-info);
}

[data-bs-theme='catppuccin-frappe'] .spinner-border.text-light {
  border-color: var(--bs-light);
}

[data-bs-theme='catppuccin-frappe'] .spinner-border.text-dark {
  border-color: var(--bs-dark);
}

[data-bs-theme='catppuccin-frappe'] .spinner-grow {
  color: var(--bs-primary);
}

[data-bs-theme='catppuccin-frappe'] .spinner-grow.text-primary {
  color: var(--bs-primary);
}

[data-bs-theme='catppuccin-frappe'] .spinner-grow.text-secondary {
  color: var(--bs-secondary);
}

[data-bs-theme='catppuccin-frappe'] .spinner-grow.text-success {
  color: var(--bs-success);
}

[data-bs-theme='catppuccin-frappe'] .spinner-grow.text-danger {
  color: var(--bs-danger);
}

[data-bs-theme='catppuccin-frappe'] .spinner-grow.text-warning {
  color: var(--bs-warning);
}

[data-bs-theme='catppuccin-frappe'] .spinner-grow.text-info {
  color: var(--bs-info);
}

[data-bs-theme='catppuccin-frappe'] .spinner-grow.text-light {
  color: var(--bs-light);
}

[data-bs-theme='catppuccin-frappe'] .spinner-grow.text-dark {
  color: var(--bs-dark);
}

[data-bs-theme='catppuccin-frappe'] .toast {
  background-color: var(--bs-surface1);
  color: var(--bs-text);
  border-color: var(--bs-overlay0);
}

[data-bs-theme='catppuccin-frappe'] .toast-header {
  background-color: var(--bs-surface2);
  color: var(--bs-text);
  border-bottom: 1px solid var(--bs-overlay1);
}

[data-bs-theme='catppuccin-frappe'] .toast-body {
  background-color: var(--bs-surface0);
  color: var(--bs-text);
}

[data-bs-theme='catppuccin-frappe'] .btn-close {
  filter: invert(72%) sepia(5%) saturate(749%) hue-rotate(179deg) brightness(89%) contrast(91%);
}