@import url('https://unpkg.com/@catppuccin/palette/css/catppuccin.css');

:root {
    --dark-theme-box-fill: #01A24C;
    --dark-theme-box-fill-hover: #027a3a;
    --dark-theme-bckg: #303030;
    --dark-theme-text-color: #FFFFFF;
}

body {
    background-color: var(--dark-theme-bckg);
}

.text-box {
    background-color: var(--dark-theme-box-fill);
    text-align: justify;
    color: var(--dark-theme-text-color);
    font-family: monospace;
    border-radius: 2px;
    outline: none;
    
    padding-top: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
}

.nav-bar {
    background-color: var(--dark-theme-box-fill);

    padding-top: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
}

.nav-bar .button:hover {
    background-color: var(--dark-theme-box-fill-hover);
}