@import url('https://unpkg.com/@catppuccin/palette/css/catppuccin.css');

/* Global styles for the entire application */
body {
    font-family: Inter, sans-serif;
    background: var(--ctp-frappe-base);
    margin: 0;
    padding: 0;
  }
  
  /* Navbar styles */
  .navbar {
    background-color: var(--ctp-frappe-base);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 15px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: var(--ctp-macchiato-text);
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: #fff; /* Change color on hover */
  }
  