/*
font-family: var(--font-geist-mono); Use for geist stuff
*/
body {
  color: var(--ctp-frappe-text);
  background: var(--ctp-frappe-base);
}

.landing-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 5em;
    color: var(--ctp-frappe-green);
    text-align: center;
  }

.sub-text {
  font-size: 1.7em;
  padding-top: 25px;
  text-align: center;
}

.highlight {
  background: linear-gradient(45deg, lightgreen, darkgreen);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-container {
  background-color: var(--ctp-frappe-surface0); /* Change this to your preferred color */
  padding: 50px 0; /* This adds space at the top and bottom of the section */
}

.section-content {
  max-width: 1200px; /* This limits the width of the content */
  margin: 0 auto; /* This centers the content */
  padding: 0 20px; /* This adds some space on the left and right */
}

.section-title {
  font-weight: bold;
  font-size: 2.8em; /* This makes the title larger */
}

.section-subtext {
  font-size: 1.2em; /* This makes the subtext larger */
}

.section-details {
  display: flex; /* This makes the image and description side by side */
}

.section-image img {
  max-width: 100%; /* This makes the image responsive */
  margin-right: 100px;
  border-radius: 20px;
}

.description-title {
  font-weight: bold;
}

.description-subtext {
  /* Add any styles for the description subtext here */
}

.section-highlight {
  color: var(--ctp-frappe-red);
  text-shadow: 0 0 4px var(--ctp-frappe-red);
}