/*
font-family: var(--font-geist-mono); Use for geist stuff
*/
body {
  color: var(--ctp-frappe-text);
  background: var(--ctp-frappe-base);
}

.landing-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 5em;
    color: var(--ctp-frappe-green);
    text-align: center;
  }

.sub-text {
  font-size: 1.7em;
  padding-top: 25px;
  text-align: center;
}

.highlight {
  background: linear-gradient(45deg, lightgreen, green);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}