.categories-section {
    margin-top: 20px;
    margin-bottom: 20px;
}

.category {
    border-radius: 6px;
    background-color: var(--ctp-frappe-text);
    color: var(--ctp-frappe-base);
    text-decoration: none;
    padding: 7px;
    margin-left: 10px;
}

.category:hover {
    background-color: var(--ctp-frappe-subtext1);
}