body {
  color: var(--ctp-frappe-text);
  background: var(--ctp-frappe-base);
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

h2 {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.mb-3 {
  margin-bottom: 1rem;
}

.form-label {
  font-weight: 600;
  margin-top: 10px;
}

.form-control {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}


textarea.form-control {
  resize: vertical;
}

select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 10px;
}

.form-range {
  margin: 20px 0;
}

.submitbtn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.submitbtn:hover {
  background-color: #419dff;
}

.error {
  color: red;
  margin-top: 10px;
}

.uploadedImage {
  height: 48px;
  border: 2px dotted;
  margin-top: 4px;
  display: grid;
  place-items: center;
  background-color: #D1D5DB;
  /* equivalent to bg-slate-100 in Tailwind CSS */
  border-radius: 4px;
  position: relative;
}

  .image-cover {
    position: absolute;
    object-fit: cover;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .popover {
    position: relative;
    top: -5px; /* Adjust this value to position the popover correctly */
    left: 100%; /* Adjust this value to position the popover correctly */
    transform: translate(-50%, -50%);
    background-color: #f8f9fa;
    width: 50px;
    padding: 5px 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    text-align: center;
    background-color: var(--ctp-frappe-surface0);
    border-radius: 5px;
    font-size: 0.8em;
  }

  .image-upload {
    display: inline-block;
    padding: 10px 15px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
  }
  
  .image-upload:hover {
    background-color: #45a049;
  }
  
  .image-upload:active {
    background-color: #2e7d32;
  }
  
  .image-upload svg {
    font-size: 1.2em;
    margin-right: 5px;
  }

  .image-remove {
    display: inline-block;
    padding: 10px 15px;
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
  }

  .image-removeicon {
    margin-right: 5px;
    font-size: 1em;
  }
  
  .image-remove:hover {
    background-color: #e53935;
  }
  
  .image-remove:active {
    background-color: #c62828;
  }

  .uploaded-image {
    width: 100%;
    pointer-events: none;
    border-radius: 10px;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    margin-top: 10px;
  }

  .react-calendar {
    width: 350px;
    max-width: 100%;
    background: var(--ctp-frappe-surface1);
    border-radius: 8px;
    border: 1px solid #a0a096;
    line-height: 1.125em;
  }
  
  .react-calendar--doubleView {
    width: 700px;
  }
  
  .react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
  }
  
  .react-calendar--doubleView .react-calendar__viewContainer > * {
    width: 50%;
    margin: 0.5em;
  }
  
  .react-calendar,
  .react-calendar *,
  .react-calendar *:before,
  .react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
    border-radius: 5px;
  }
  
  .react-calendar button:enabled:hover {
    cursor: pointer;
  }
  
  .react-calendar__navigation {
    display: flex;
    height: 44px;
    margin-bottom: 1em;
  }
  
  .react-calendar__navigation button {
    min-width: 44px;
    background: none;
  }
  
  .react-calendar__navigation button:disabled {
    background-color: var(--ctp-frappe-surface1);
  }
  
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    background-color: var(--ctp-frappe-surface0);
  }
  
  .react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font: inherit;
    font-size: 0.75em;
    font-weight: bold;
  }
  
  .react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;
  }
  
  .react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font: inherit;
    font-size: 0.75em;
    font-weight: bold;
  }
  
  .react-calendar__month-view__days__day--weekend {
    color: var(--ctp-frappe-red);
  }
  
  .react-calendar__month-view__days__day--neighboringMonth {
    color: var(--ctp-frappe-lavender);
  }
  
  .react-calendar__year-view .react-calendar__tile,
  .react-calendar__decade-view .react-calendar__tile,
  .react-calendar__century-view .react-calendar__tile {
    padding: 2em 0.5em;
    color: var(--ctp-frappe-text);
  }
  
  .react-calendar__tile {
    max-width: 100%;
    padding: 10px 6.6667px;
    background: none;
    text-align: center;
    line-height: 16px;
    font: inherit;
    font-size: 0.833em;
  }
  
  .react-calendar__tile:disabled {
    background-color: var(--ctp-frappe-surface1);
  }
  
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    background-color: var(--ctp-frappe-surface0);
  }
  
  .react-calendar__tile--now {
    background: var(--ctp-frappe-green);
    color: var(--ctp-frappe-surface2);
  }
  
  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
    background: var(--ctp-latte-green);
    color: #fff;
  }
  
  .react-calendar__tile--hasActive {
    background: #76baff;
  }
  
  .react-calendar__tile--hasActive:enabled:hover,
  .react-calendar__tile--hasActive:enabled:focus {
    background: #a9d4ff;
  }
  
  .react-calendar__tile--active {
    background: var(--ctp-frappe-blue);
    color: var(--ctp-frappe-text);
  }
  
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    background: var(--ctp-latte-blue);
    color: #fff;
  }
  
  .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
  }
  
  /* Change the color of the number tiles for weekdays to white */
.react-calendar__month-view__days__day:not(.react-calendar__month-view__days__day--weekend):not(.react-calendar__month-view__days__day--neighboringMonth) {
  color: var(--ctp-frappe-text);
}

/* Change the color of the month and year to white */
.react-calendar__navigation__label__labelText {
  color: var(--ctp-frappe-text);
  font-weight: 500;
}

/* Change the color of the navigation buttons to white */
.react-calendar__navigation__arrow {
  color: var(--ctp-frappe-text);
}

/* Change the color of the weekdays to white */
.react-calendar__month-view__weekdays__weekday {
  color: var(--ctp-frappe-text);
}

.react-clock {
  display: block;
  position: relative;
  background-color: var(--ctp-frappe-surface1);
}

.react-clock,
.react-clock *,
.react-clock *:before,
.react-clock *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-clock__face {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid var(--ctp-frappe-text);
  border-radius: 50%;
}

.react-clock__hand {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 50%;
}

.react-clock__hand__body {
  position: absolute;
  background-color: var(--ctp-frappe-text);
  transform: translateX(-50%);
}

.react-clock__mark {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 50%;
}

.react-clock__mark__body {
  position: absolute;
  background-color: var(--ctp-frappe-text);
  transform: translateX(-50%);
}

.react-clock__mark__number {
  position: absolute;
  left: -40px;
  width: 80px;
  text-align: center;
}

.react-clock__second-hand__body {
  background-color: var(--ctp-frappe-red);
}
/* Change the background of the entire clock to black */
.react-datetime-picker__clock {
  background-color: var(--ctp-frappe-surface1);
  border-radius: 10px;
  border-color: var(--ctp-frappe-text);
}

.react-datetime-picker {
  display: inline-flex;
  position: relative;
}

.react-datetime-picker,
.react-datetime-picker *,
.react-datetime-picker *:before,
.react-datetime-picker *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-datetime-picker--disabled {
  background-color: #f0f0f0;
  color: #555555;
}

.react-datetime-picker__wrapper {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
}

.react-datetime-picker__inputGroup {
  min-width: calc(4px + (4px * 3) + 0.54em * 6 + 0.217em * 2);
  flex-grow: 1;
  padding: 0 2px;
}

.react-datetime-picker__inputGroup__divider {
  padding: 1px 0;
  white-space: pre;
}

.react-datetime-picker__inputGroup__divider,
.react-datetime-picker__inputGroup__leadingZero {
  display: inline-block;
}

.react-datetime-picker__inputGroup__input {
  min-width: 0.54em;
  height: calc(100% - 2px);
  position: relative;
  padding: 1px;
  border: 0;
  background: none;
  color: currentColor;
  font: inherit;
  box-sizing: content-box;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.react-datetime-picker__inputGroup__input::-webkit-outer-spin-button,
.react-datetime-picker__inputGroup__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.react-datetime-picker__inputGroup__input:invalid {
  background: rgba(255, 0, 0, 0.1);
}

.react-datetime-picker__inputGroup__input--hasLeadingZero {
  margin-left: -0.54em;
  padding-left: calc(1px + 0.54em);
}

.react-datetime-picker__inputGroup__amPm {
  font: inherit;
  -webkit-appearance: menulist;
  -moz-appearance: menulist;
  appearance: menulist;
}

.react-datetime-picker__button {
  border: 0;
  background: var(--ctp-frappe-text);
  border-radius: 5px;
  margin-right: 10px;
  padding: 4px 6px;
}

.react-datetime-picker__button .react-datetime-picker__button__icon{
  stroke: var(--ctp-frappe-surface0);
}

.react-datetime-picker__button:enabled {
  cursor: pointer;
}

.react-datetime-picker__button:enabled:hover .react-datetime-picker__button__icon,
.react-datetime-picker__button:enabled:focus .react-datetime-picker__button__icon {
  stroke: var(--ctp-frappe-surface0);
}

.react-datetime-picker__button:disabled .react-datetime-picker__button__icon {
  stroke: var(--ctp-frappe-base);
}

.react-datetime-picker__button svg {
  display: inherit;
}

.react-datetime-picker__calendar,
.react-datetime-picker__clock {
  z-index: 1;
}

.react-datetime-picker__calendar--closed,
.react-datetime-picker__clock--closed {
  display: none;
}

.react-datetime-picker__calendar {
  width: 350px;
  max-width: 100vw;
}

.react-datetime-picker__calendar .react-calendar {
  border-width: thin;
}

.react-datetime-picker__clock {
  width: 200px;
  height: 200px;
  max-width: 100vw;
  padding: 25px;
  border: thin solid var(--ctp-frappe-text);
}

.autocomplete-container {
  position: relative;
}

.top-alert {
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
  width: 500px;
  margin: 0 auto;
  z-index: 9999;
}