.custom-btn-outline {
    background-color: var(--ctp-frappe-base);
    color: var(--ctp-frappe-text);
    border: 1.5px solid var(--ctp-frappe-surface1);
    margin-right: 10px;
    width:85px;
}

.custom-btn-outline:hover {
    background-color: var(--ctp-frappe-surface0);
}

.custom-btn-fill {
    background-color: var(--ctp-frappe-text);
    color: var(--ctp-frappe-base);
    width: 90px;
}

.custom-btn-fill:hover {
    background-color: var(--ctp-frappe-subtext1);
    color: var(--ctp-frappe-base);
}

.navbar-brand {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1.4em;
}
.navbar-brand-image {
    margin-right: 3px;
}

.dropdown-menu {
    background-color: var(--ctp-frappe-surface0);
}

.dropdown-item {
    transition: ease-in-out 0.1s;
}
.dropdown-item:hover {
    background-color: var(--ctp-frappe-base);
}