.custom-btn-outline {
    background-color: var(--ctp-frappe-base);
    color: var(--ctp-frappe-text);
    border: 1.5px solid var(--ctp-frappe-surface1);
}

.custom-btn-outline:hover {
    background-color: var(--ctp-frappe-surface0);
}

.custom-btn-fill {
    background-color: var(--ctp-frappe-text);
    color: var(--ctp-frappe-base);
}

.custom-btn-fill:hover {
    background-color: var(--ctp-frappe-subtext1);
    color: var(--ctp-frappe-base);
}