.card {
  border: 0.2px solid var(--ctp-frappe-surface2);
  width: 18rem;
  overflow: hidden;
  max-width: 300px;
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  border-radius: 10px;
  margin-left: 25px;
  transition: transform 0.3s ease-in-out;
}

.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.card-title {
  font-size: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
  /* Adjust this value to control when the ellipsis appears */
  margin-bottom: 10px;
}

.card-text {
  color: var(--ctp-frappe-subtext1);
}

.card:hover {
  transform: scale(1.02);
}

.button-container {
  margin-top: auto;
}

.list-group-item {
  margin-top: auto;
}

.card-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  max-height: 4.5rem;
  /* 3 lines x 1.5rem */
  line-height: 1.5rem;
}

.location-link {
  color: inherit;
  /* Use the same color as the text */
  text-decoration: none;
  /* Remove the underline */
}

.info-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
  /* Adjust this value to control when the ellipsis appears */
}

.card-options {
  position: absolute;
  top: 10px;
  /* Adjust the top position as needed */
  right: 10px;
  /* Adjust the right position as needed */
  display: flex;
  flex-direction: column;
}

.card-category {
  position: absolute;
  display: flex;
  bottom: 73%;
  right: 10px;
  padding: 5px 10px;
  font-size: 0.8em;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  border-radius: 5px;
}

.card-category:hover {
  background-color: rgba(0, 0, 0, 0.4);
}



.menu-container {
  position: relative;
}

.menu-icon {
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--ctp-frappe-text);
  background-color: var(--ctp-frappe-surface0);
  opacity: 0.5;
  border: none;
}

.menu-icon:hover {
  opacity: 1;

}

.info-menu {
  position: absolute;
  top: 0;
  right: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 5px;
  display: flex;
  width: 150px;
  flex-direction: column;
  z-index: 9999;
  /* Set a higher value for z-index */
}

.info-menu button {
  background: none;
  border: none;
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: var(--ctp-frappe-blue);
  color: #333;
  width: 100%;
}

.info-menu button:hover {
  background-color: #f1f1f1;
  border-radius: 4px;
}


.info-menu button svg {
  margin-right: 5px;
}

.info-container {
  flex-direction: column;
}