.signInWithBtn {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 0.5rem;
    padding-left: 0.75rem;
}

.signInWithBtnText {
    background-color: blue;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.75rem;
    padding-top: 0.75rem;
}