body {
  background-color: var(--ctp-frappe-base);
  color: var(--ctp-frappe-text);
}

.navbar {
  background-color: var(--ctp-frappe-green);
}

.navbar-brand {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 1.4em;
}
.navbar-brand-image {
  margin-right: 3px;
}

.profile-picture {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
}